{{#equal position 'left'}}
  {{> unSelected}}
{{else}}
  {{> selected}}
{{/equal}}

<div class="{{classPrefix}}-buttons {{classPrefix}}-container-item">
  <ul class="{{classPrefix}}-buttons" data-role="op-buttons">
    {{#each buttons}}
    <li class="{{@root.classPrefix}}-button {{#if cls}}{{cls}}{{/if}}">
      <button type="button" title="{{#if title}}{{title}}{{/if}}" data-role="{{role}}">{{text}}</button>
    </li>
    {{/each}}
  </ul>
</div>

{{#equal position 'left'}}
  {{> selected}}
{{else}}
  {{> unSelected}}
{{/equal}}
